.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #0D0D0D;
}

.login img {
    width: 200px;
    margin-bottom: 50px;
}

.inputLogin {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
}

.formContainer label {
    color: #ffff;
    padding-top: 10px;
}

.formContainer input {
    border: 1px solid white;
    color: #ffff;
    border-radius: 5px;
    padding: 10px;
    width: 80vw;
    font-size: 16px;
    font-weight: 600;

}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    font-weight: 600;
    font-size: 20px;
    color: #ffff;
    padding: 10px;
    border-radius: 20px;
    width: 150px;
    margin: 2em auto;
}

.error {
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 1px solid rgb(173, 69, 69);
    background-color: rgb(107, 34, 34);
    color: #ffff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
}